version: '3.8'

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: pollsdb
      MYSQL_USER: pollsuser
      MYSQL_PASSWORD: pollspass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DJANGO_DB_ENGINE=mysql
      - DJANGO_DB_NAME=pollsdb
      - DJANGO_DB_USER=pollsuser
      - DJANGO_DB_PASSWORD=pollspass
      - DJANGO_DB_HOST=db
      - DJANGO_DB_PORT=3306

volumes:
  db_data:
